*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.title-app{
    font-family: 'MuseoModerno', cursive;
}

.header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 100;
    background: #fff;
}

#list{
    margin-top: 140px;
}